
<form class="pai coluna fundoBranco jogoForm MaxH100 jogo0Form" action="/gamepadm/painel/jogo/0" method="POST">
    <label for="nomeJogo">Nome do Jogo:</label>
    <input type="text" id="nomeJogo"name="nome" autocomplete="off" placeholder="Nome" required/>    
    <label for="publisherJogo">Desenvolvedora:</label>
    <input type="text" id="publisherJogo"name="desenvolvedor" autocomplete="off" placeholder="Desenvolvedora" required/>
    <label for="dataJogo">Data de Lançamento:</label>
    <input type="text" id="dataJogo"name="lancamento" autocomplete="off" placeholder="Lançamento" required/>    
    <label for="sinopseJogo">Sinopse:</label>
    <textarea  id="sinopseJogo" name="descricao" autocomplete="off" required placeholder="Sinopse"></textarea>
    <label for="imgJogo">URL de Imagem do Jogo:</label>
    <input type="text" id="imgJogo"name="capa" autocomplete="off" placeholder="URL" required/>
    <label>Plataformas:</label>
    <div class="pai wrap">
        <%for(let plataforma of plataformas){%>
        <div> <input type="checkbox" id="<%= plataforma.nome %>" name="idPlataformas" value="<%= plataforma.id %>"/>
        <label class="labelCheckbox" for="<%= plataforma.nome %> "><%= plataforma.nome %> </label></div>
        <%}%>
    </div>
    <label>Gêneros:</label>
    <div class="pai wrap">
        <%for(let genero of generos){%>
        <div> <input type="checkbox" id="<%= genero.nome %>" name="idGeneros" value="<%= genero.id %>"/>
        <label class="labelCheckbox" for="<%= genero.nome %>"><%= genero.nome %> </label></div>
        <%}%>
        </div>    
    <input  class="submitPainelAdmin" type="submit" value="Cadastrar"/>
</form> 
<script>
    document.querySelector('textarea').oninput = () => {
        document.querySelector('textarea').style.height = (document.querySelector('textarea').scrollHeight) + 'px'
    }
</script>