
<form action="#" class="jogo1Form fundoBranco" method="GET"><label>Procurar Jogos</label> 
    <input class="inputPainelAdmin" type="text" name="pesquisarJogo" id="pesquisaJogo" placeholder="Pesquisar"/>
    <input class="inputPainelAdmin submitPainelAdmin" type="submit" value="Pesquisar"/>
</form> 
<section class="fundoBranco jogo1MaxH60">
    <table class="tablePainelAdmin">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Desenvolvedora</th> 
        <th>Ações</th>
    </tr>
    
    <%for(let i = 1; i < listaJogos.length; i++){%>
    <tr>
        <td><%=listaJogos[i].id%></td>
        <td><%=listaJogos[i].nomeJogo%></td>
        <td><%=listaJogos[i].publisherJogo%></td>
        <td><a href="#"><img src="/img/adm/bloquear.png" alt="Bloquear"></a><a href="#"><img src="/img/adm/deletar.png" alt="Deletar"></a> </td>
    </tr>
    <%}%>

</table>
</section>
<p><label>Jogos Bloqueados</label></p>
<section class="fundoBranco jogo1MaxH20">
    <table class="tablePainelAdmin">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Desenvolvedora</th> 
            <th>Ações</th>
        </tr>
        
        <%for(let i = 1; i < listaJogos.length; i++){%>
        <tr>
            <td><%=listaJogos[i].id%></td>
            <td><%=listaJogos[i].nomeJogo%></td>
            <td><%=listaJogos[i].publisherJogo%></td>
            <td><a href="#"><img src="/img/adm/bloquear.png" alt="Bloquear"></a><a href="#"><img src="/img/adm/deletar.png" alt="Deletar"></a> </td>
        </tr>
        <%}%>
    
    </table>
</section>
