
<form action="#" class="jogo1Form fundoBranco" method="GET"><label>Procurar Jogos</label> 
    <input class="inputPainelAdmin" type="text" name="pesquisarJogo" id="pesquisaJogo" placeholder="Pesquisar"/>
    <input class="inputPainelAdmin submitPainelAdmin" type="submit" value="Pesquisar"/>
</form> 
<section class="fundoBranco jogo1MaxH60">
    <table class="tablePainelAdmin">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Plataforma</th> 
        <th>Genero</th> 
        <th>Ações</th>
    </tr>
    
    <%for(let i = 0; i < jogos.length; i++){%>
    <%if(jogos[i].validado === 1){%>
        <tr>
            <td><a href="/gamepadm/painel/jogo/1/edit/<%=jogos[i].id%>"><%=jogos[i].id%></a></td>
            <td><a href="/gamepadm/painel/jogo/1/edit/<%=jogos[i].id%>"><%=jogos[i].nome%></a></td>
            <td><%for(let aux = 0; aux < jogos[i].plataforma.length; aux++){%>
                <%=jogos[i].plataforma[aux].nome%>
            <%}%> </td>
            <td><%for(let aux = 0; aux < jogos[i].genero.length; aux++){%>
                <%=jogos[i].genero[aux].nome%>
            <%}%> </td>
            <td><a href="/gamepadm/painel/jogo/1/edit/<%=jogos[i].id%>"><img src="/img/adm/editar.png" alt="Editar"></a><a href="#"><img src="/img/adm/bloquear.png" alt="Bloquear"></a><a href="/gamepadm/painel/jogo/1/deletar/<%=jogos[i].id%>"><img src="/img/adm/deletar.png" alt="Deletar"></a> </td>
        </tr>
    <%}}%>

</table>
</section>
<p><label>Jogos Não Validados</label></p>
<section class="fundoBranco jogo1MaxH35">
    <table class="tablePainelAdmin">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Plataforma</th> 
            <th>Genero</th> 
            <th>Ações</th>
        </tr>
        
        <%for(let i = 0; i < jogos.length; i++){%>
            <%if(jogos[i].validado === 0){%>
                <tr>
                    <td><a href="/gamepadm/painel/jogo/1/edit/<%=jogos[i].id%>"><%=jogos[i].id%></a></td>
                    <td><a href="/gamepadm/painel/jogo/1/edit/<%=jogos[i].id%>"><%=jogos[i].nome%></a></td>
                    <td><%for(let aux = 0; aux < jogos[i].plataforma.length; aux++){%>
                        <%=jogos[i].plataforma[aux].nome%>
                    <%}%> </td>
                    <td><%for(let aux = 0; aux < jogos[i].genero.length; aux++){%>
                        <%=jogos[i].genero[aux].nome%>
                    <%}%> </td>
                    <td><a href="/gamepadm/painel/jogo/1/edit/<%=jogos[i].id%>"><img src="/img/adm/editar.png" alt="Editar"></a><a href="#"><img src="/img/adm/bloquear.png" alt="Bloquear"></a><a href="/gamepadm/painel/jogo/1/deletar/<%=jogos[i].id%>"><img src="/img/adm/deletar.png" alt="Deletar"></a> </td>
                </tr>
        <%}}%>
    
    </table>
</section>
