<link rel="stylesheet" href="/css/adm/admListar.css">



<p><label>Procurar Usuário</label> <input class="inputPainelAdmin" type="text" name="pesquisarUser" id="pesquisaUser"><input class="inputPainelAdmin" type="submit" value="Pesquisar"></p>
                <section class="fundoBranco h-50">
                    <table class="tablePainelAdmin">
                    <tr>
                        <th>Id</th>
                        <th>Nick</th>
                        <th>email</th>
                        <th>Ações</th>
                    </tr>
                    
                    <%for(let user of listaUsers){%>
                        <% if(user.blocked == '0') { %>
                            <tr>
                                <td><%=user.id%></td>
                                <td><%=user.Perfil.usuario%></td>
                                <td><%=user.email%></td>
                                <td>
                                    <button onclick="Editar('<%=user.id%>')"><img src="/img/adm/editar.png" alt="Editar"></button>
                                    <button onclick="Bloquear('<%=user.Perfil.id%>')"><img src="/img/adm/bloquear.png" alt="Bloquear"></button>
                                    <button onclick="Deletar()"><img src="/img/adm/deletar.png" alt="Deletar"></button>
                                </td>
                            </tr>
                        <%}%>
                    <%}%>
                
                </table>
                </section>
                <p><label>Usuários Bloqueados</label></p>
                <section class="fundoBranco h-30">
                    <table class="tablePainelAdmin">
                        <tr>
                            <th>Id</th>
                            <th>Nick</th>
                            <th>email</th>
                            <th>Ações</th>
                        </tr>
                        
                        <%for(let user of listaUsers){%>
                            <% if(user.blocked == '1') { %>
                                <tr>
                                    <td><%=user.id%></td>
                                    <td><%=user.Perfil.usuario%></td>
                                    <td><%=user.email%></td>
                                    <td>
                                        <button onclick="Editar('<%=user.id%>')"><img src="/img/adm/editar.png" alt="Editar"></button>
                                        <button onclick="Desbloquear('<%=user.Perfil.id%>')"><img src="/img/adm/bloquear.png" alt="Bloquear"></button>
                                        <button onclick="Deletar()"><img src="/img/adm/deletar.png" alt="Deletar"></button>
                                </tr>
                                
                           <% } %>
                        <%}%>
                    
                    </table>

                </section>

                <div id="modalUser">
                    
                </div>
                    

<script src="/js/adm/admUsuario/admListar.js"></script>