<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/users/posts.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Posts </title>

</head>

    <body>
        
        <header>
            <%- include('../home/header.ejs'); %>
        </header>
      
        <img src="/img/addPost.png" alt="" class="addPost" id="addPost">

        <div class="paiFlex">

            <main class="containerMain">

                <div class="caixaTexto">

                    <p>Posts</p>

                </div>
                
                <% for (const post of posts ){ %>

                    <div class="caixaPosts">
                        <div class="postTitulo"> 
                            <p><%= post.titulo %></p>
                        </div>
                        
                        <div class="areaPost">
                            <span > <%= post.descricao %>
                            </span>
                            
                        </div>
                    <form action="/users/posts/deletar/<%= post.id%>" method="POST">
                            <button type="submit" class="deletButtom" >x</button>
                        </form>
                    </div>
                }
            </main>

            <aside class="containerPerfil">

                <%- include('../perfil/usuario-include.ejs'); %>
                
            </aside>

        </div>       
        
        <footer>
            <%- include('../home/footer.ejs'); %>
        </footer>
        <div id="error"></div>
        <script src="/js/users/posts.js"></script>
    </body>

</html>