<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= jogo.nome %></title>
    <link rel="stylesheet" href="/css/jogos/analiseJogos.css">
    <link rel="stylesheet" href="/css/tema.css">
</head>
<body>
    <header>
        <%- include('../home/header.ejs') %> 
    </header>
    <div class="geral">
        <div class="pai">
            <div class="analiseJogo-div">
                
                <%if(analiseJogo.length > 0 ){ %>
                    <% for(const analises of analiseJogo){%>
                         <div class="conteudoCadaANalise">
                             <div class="linkDoPerfil">
                                <a href="http://localhost:3000/perfil/<%=analises.Perfil.usuario%>">
                                <img src="<%=analises.Perfil.foto%>" alt="">
                                <p><%=analises.Perfil.usuario%></p>
                            </a>
                                
                             </div>
                             <div class="tituloEConteudo">
                                 <div class="tituloDaCaixaAnalise">
                                     <p><%=analises.titulo%></p>
                                     <p class="analiseNota"><%=analises.nota%></p>
                                     <img src="/img/estrelinha.png" class="imgEstrellinha">
                                 </div>
                                 <div class="conteudoDaCaixaAnalise"><span><%=analises.analise%></span></div>
                             </div>
                         </div>
                     <%}%>
                 <%} %> 
            </div>
            <div class="jogo">
                <ul>
                    
                    
                </ul>
            </div>
        </div>
        <aside class="fundoVerde">
            <%- include('../jogos/menuJogos.ejs') %>
        </aside>
    </div>
    <footer>
        <%- include('../home/footer.ejs') %> 
    </footer>
</body>
</html>