<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tema.css">
    <link rel="stylesheet" href="/css/jogos/cadastraJogo.css">
    <title>Cadastrar Novo Jogo</title>
</head>

<body>
    <header>
        <%- include('../home/header.ejs') %>
    </header>
    <container class="pai containerCadastraJogo">
        <main class="pai coluna">
            <section class="fundoBranco" id="tituloCadastraJogo">
                <h1>Cadastrar Novo Jogo</h1>
            </section>

            <section class="fundoBranco" id="cadastroJogo">
                <form class="pai coluna formCadastraJogo" action="/jogos/cadastrar" method="POST">
                    <label for="nomeJogo">Nome do Jogo:</label><div id="erroNome" class="errosCadastroJogos"></div> 
                    <input type="text" id="nomeJogo"name="nome" autocomplete="off" placeholder="Nome" maxlength="120" required/>    
                    <label for="publisherJogo">Desenvolvedora:</label><div id="erroPublisher" class="errosCadastroJogos"></div>
                    <input type="text" id="publisherJogo"name="desenvolvedor" autocomplete="off" placeholder="Desenvolvedora" maxlength="120" required/>
                    <label for="dataJogo">Data de Lançamento:</label><div id="erroData" class="errosCadastroJogos"></div>
                    <input type="text" id="dataJogo"name="lancamento" autocomplete="off" placeholder="Lançamento" maxlength="10" required/>    
                    <label for="sinopseJogo">Sinopse:</label><div id="erroSinopse" class="errosCadastroJogos"></div>
                    <textarea  id="sinopseJogo" name="descricao" autocomplete="off" required placeholder="Sinopse" maxlength="500"></textarea>
                    <label for="imgJogo">URL de Imagem do Jogo:</label><div id="erroImgJogo" class="errosCadastroJogos"></div>
                    <input type="text" id="imgJogo"name="capa" autocomplete="off" placeholder="URL" maxlength="500" required/>
                    <label>Plataformas:</label><div id="erroPlataformas" class="errosCadastroJogos"></div>
                    <div class="pai wrap divCheckboxCadastraJogo">
                        <%for(let plataforma of plataformas){%>
                        <div> <input type="checkbox" id="plat<%= plataforma.nome %>" name="idPlataformas" value="<%= plataforma.id %>" class="checkboxPlataformas"/>
                        <label class="labelCheckbox" for="plat<%= plataforma.nome %>"><%= plataforma.nome %> </label></div>
                        <%}%>
                    </div>
                    <label>Gêneros:</label><div id="erroGeneros" class="errosCadastroJogos"></div>
                    <div class="pai wrap divCheckboxCadastraJogo">
                        <%for(let genero of generos){%>
                        <div> <input type="checkbox" id="gen<%= genero.nome %>" name="idGeneros" value="<%= genero.id %>" class="checkboxGeneros"/>
                        <label class="labelCheckbox" for="gen<%= genero.nome %>"><%= genero.nome %> </label></div>
                        <%}%>
                        </div>    
                    <input  class="submitCadastraJogo" type="submit" value="Cadastrar" id="salvarJogo"/>
                </form> 
               
            </section>
        </main>
       
    </container>

    <footer>
        <%- include('../home/footer.ejs') %>
    </footer>
</body>
<script src="/js/adm/cadastraEditaJogo.js" ></script>
</html>