<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tema.css">
    <link rel="stylesheet" href="/css/jogos/midiaJogos.css">
    <title><%= jogo.nome %></title>
</head>

<body class="pai coluna">
    <header>
        <%- include('../home/header.ejs') %>
    </header>
    <container class="pai containerMidiaJogos">
        <div id="showModal">

        </div>
        <main class="mainMidiaJogos pai coluna"> 
            <section class="fundoBranco" id="tituloMidiaJogos">
                <h1><a href="/jogos/perfil/<%=jogo.id%>"><%= jogo.nome %></a></h1>
            </section>

            <section class="fundoBranco pai" id="galeriaImagensMidiaJogos">
                
                    <% for (const midias of midiaJogo){%>
                        <% if(midias.tipo == 'IMAGEM'){%>
                            <div class="addConteudoMidiaJogos imagemBg" onclick="showModalImagem('<%=midias.path%>')">
                                
                                <img src="<%=midias.path%>" alt="" class="caixaImagem-img-img"/> 
                                
                                <div class="addConteudoMidiaJogos-titulo">
                                    <a href="<%= midias.path%>" class="addConteudoMidiaJogos-titulo-a"><p><%=midias.titulo%></p></a>
                                </div>
                            </div>
                        <% } %>
                        <% if(midias.tipo == 'VIDEO'){%>
                            <div class="addConteudoMidiaJogos videoBg" onclick="showModal('<%=midias.path%>')">
                                
                                <img src="http://i3.ytimg.com/vi/<%=midias.path%>/hqdefault.jpg" class="caixaImagem-img-img"/> 
                                
                                <div class="addConteudoMidiaJogos-titulo">
                                    <a href="<%=midias.path%>" class="addConteudoMidiaJogos-titulo-a"><p><%=midias.titulo%></p></a>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                
               

            </section>
        </main>
        <aside class="fundoVerde">
            <%- include('../jogos/menuJogos.ejs') %>
        </aside>
    </container>

    <footer>
        <%- include('../home/footer.ejs') %>
    </footer>
    <script src="/js/jogos/midiasJogo.js"></script>
</body>

</html>