<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/jogos/noti.css">
    <link rel="stylesheet" href="/css/tema.css">
    <title><%= noticias.titulo %></title>
</head>
<body>
    <header>
        <%- include('../home/header.ejs') %> 
    </header>
    <div class="geral">
        <% for (let i = 0; i< noticias.length && i < 1; i++) { %> 
            <div class="titulo">
                <h1><%= noticias[1].titulo %></h1>
            </div>
            <div class="subTitulo">
                <h3><%= noticias.subTitulo %></h3>
            </div>
            <div class="att">
                <p>Escrito por: <%= noticias.autor %></p>
                <p>Atualizado as: <%= noticias.updatedAt %></p>
            </div>
        <% } %> 

    </div>
    <article class="article">
        <div class="texto">
        <% for (let i = 0; i< noticias.length && i < 1; i++) { %> 
            <p><%= noticias[1].descricao %> </p>
        <% } %> 
    </div>
        <div>
            <% for (let i = 0; i< noticias.length && i < 1; i++) { %> 
            <img src="/img/<% noticias[i].capa %> " alt="">
            <% } %> 
        </div>
    </article>
    <footer>
        <%- include('../home/footer.ejs') %> 
    </footer>
</body>
</html>