<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tema.css">
    <link rel="stylesheet" href="/css/jogos/perfilDeJogos.css">
    <title>Perfil do Jogo</title>
</head>

<body class="pai coluna">
    <header>
        <%- include('../home/header.ejs') %>
    </header>
    <container class="pai containerPerfilDeJogos">
        <main class="pai coluna mainPerfilDeJogos">
            <section class="fundoBranco" id="tituloPerfilDeJogos">
                <h1><%= jogo.nomeJogo %></h1>
            </section>
            <section class="pai  h-33PerfilDeJogos">
                <figure class="fundoBranco" id="imgJogo">
                    <img src="<%=jogo.imgJogo%>" />
                </figure>
                <section id="descricaoPerfilDeJogos">
                    <article class="fundoVerde" id="informacoesPerfilDeJogos">
                        <p>Site Oficial: <%= jogo.siteJogo%></p>
                        <p>Publisher: <%= jogo.publisherJogo%></p>
                        <p>Data de Lançamento: <%= jogo.dataJogo%></p>
                        <p>Plataformas: <%= jogo.plataformaJogo%></p> 
                    </article>
                    <article class="fundoBranco pai" id="sinopsePerfilDeJogos">
                        <p><%= jogo.sinopseJogo %></p>
                    </article> 
                </section>
            </section>
            <section class="fundoBranco h-33PerfilDeJogos">
                Analises
            </section>
            <section class="fundoBranco h-33PerfilDeJogos">
                Avaliações
            </section>
        </main>
        <aside class="fundoVerde">
            <%- include('../jogos/menuJogos.ejs') %>
        </aside>
    </container>

    <footer>
        <%- include('../home/footer.ejs') %>
    </footer>
</body>

</html>