<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tema.css">
    <link rel="stylesheet" href="/css/jogos/perfilDeJogos.css">
    <title><%= jogo.nome %></title>
</head>

<body class="pai coluna">
    <header>
        <%- include('../home/header.ejs') %>
    </header>
    <container class="pai containerPerfilDeJogos">
        <main class="pai coluna mainPerfilDeJogos">
            <section class="fundoBranco" id="tituloPerfilDeJogos">
                <h1><a href="/jogos/perfil/<%=jogo.id%>"><%= jogo.nome%></a></h1>
            </section>
            <section class="pai  h-33PerfilDeJogos">
                <figure class="fundoBranco" id="imgJogo">
                    <img src="<%=jogo.capa%>" />
                </figure>
                <section id="descricaoPerfilDeJogos">
                    <article class="fundoVerde" id="informacoesPerfilDeJogos">
                        <p>Desenvolvedora: <%= jogo.desenvolvedor%></p>
                        <p>Data de Lançamento: <%= jogo.lancamento%></p>
                        <p>Plataformas: <%for(let i = 0; i < jogo.plataforma.length; i++){%>
                            <%=jogo.plataforma[i].nome%>
                        <%}%></p>
                        <p>Gênero: <%for(let i = 0; i < jogo.genero.length; i++){%>
                            <%=jogo.genero[i].nome%>
                        <%}%></p> 
                    </article>
                    <article class="fundoBranco pai" id="sinopsePerfilDeJogos">
                        <p><%= jogo.descricao %></p>
                    </article> 
                </section>
            </section>
            <section class="fundoBranco h-33PerfilDeJogos pai">
                <%if(analises.length>0){%>
                <div class="analise"  id="<%=analises.length<=0 ? 'analise' : '' %>">
                    <ul>
                        <li class="center">
                            <% const analise1 = Math.floor(Math.random()*analises.length)%>
                            <img src="<%=analises[analise1].nota>=3?'/img/like.png':'/img/dislike.png'%>" alt="<%=analises[analise1].nota>=3?'like':'dislike'%>" width="40px" height="40px">
                            <h3><%=analises[analise1].tituloAnalise%></h3></li>
                        <li class="flex">
                            <div class="w-30"><img src="/img/avatar.png" width="100px" height="100px"></div>
                            <div class="w-70"><p><%=analises[analise1].analise%></p></div>
                        </li>
                    </ul>
                </div>
                <% if(analises.length > 1){%>
                <div class="analise">
                    <ul>
                        <li class="center">
                            <% const analise2 = Math.floor(Math.random()*analises.length)%>                            
                            <img src="<%=analises[analise2].nota>=3?'/img/like.png':'/img/dislike.png'%>" alt="<%=analises[analise2].nota>=3?'like':'dislike'%>" width="40px" height="40px">
                            <h3><%=analises[analise2].tituloAnalise%></h3></li>
                        <li class="flex">
                            <div class="w-30"><img src="/img/avatar.png" width="100px" height="100px"></div>
                            <div class="w-70"><p><%=analises[analise2].analise%></p></div>
                        </li>
                    </ul>
                </div>
                <%}}else{%>
                <div id="analise0PerfilDeJogos">Nenhuma Análise Cadastrada</div>
                <%}%>
            </section>
            <section class="fundoBranco h-33PerfilDeJogos">
                Avaliações
            </section>
        </main>
        <aside class="fundoVerde">
            <%- include('../jogos/menuJogos.ejs') %>
        </aside>
    </container>

    <footer>
        <%- include('../home/footer.ejs') %>
    </footer>
</body>

</html>