<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tema.css">
    <link rel="stylesheet" href="/css/jogos/perfilDeJogos.css">
    <title><%= jogo.nome %></title>
</head>

<body class="pai coluna">
    <header>
        <%- include('../home/header.ejs') %>
    </header>
    <container class="pai containerPerfilDeJogos">
        <main class="pai coluna mainPerfilDeJogos">
            <section class="fundoBranco" id="tituloPerfilDeJogos">
                <h1><a href="/jogos/perfil/<%=jogo.id%>"><%= jogo.nome%></a></h1>                
                <p class="avisoPerfilJogo"> <%if(jogo.validado != 1){ %> *Este jogo ainda não foi validado pela nossa Staff e pode conter erros. <% } %> </p>
            </section>
            <section class="pai  h-33PerfilDeJogos">                
                <section id="descricaoPerfilDeJogos">
                    <article class="fundoVerde" id="informacoesPerfilDeJogos">
                        <p>Desenvolvedora: <%= jogo.desenvolvedor%></p>
                        <p>Data de Lançamento: <%= jogo.lancamento%></p>
                        <p>Plataformas: <%for(let i = 0; i < jogo.plataforma.length; i++){%>
                            <%=jogo.plataforma[i].nome%>
                        <%}%></p>
                        <p>Gênero: <%for(let i = 0; i < jogo.genero.length; i++){%>
                            <%=jogo.genero[i].nome%>
                        <%}%></p> 
                    </article>
                    <article class="fundoBranco pai" id="sinopsePerfilDeJogos">
                        <p><%= jogo.descricao %></p>
                    </article> 
                </section>
            </section>
            <section class="fundoBranco h-33PerfilDeJogos pai">

                <div class="caixaAnalisesJogo">
                        <%if(analiseJogo.length > 0 ){ %>
                           <% for(const analises of analiseJogo){%>
                                <div class="conteudoCadaANalise">
                                    <div class="linkDoPerfil">
                                        <a href="http://localhost:3000/perfil/<%=analises.Perfil.id%>"><img src="<%=analises.Perfil.foto%>" alt=""></a>
                                    </div>
                                    <div class="tituloEConteudo">
                                        <div class="tituloDaCaixaAnalise">
                                            <p><%=analises.titulo%></p>
                                            <p class="analiseNota"><%=analises.nota%></p>
                                            <img src="/img/estrelinha.png" class="imgEstrellinha">
                                        </div>
                                        <div class="conteudoDaCaixaAnalise"><span><%=analises.analise%></span></div>
                                    </div>
                                 </div>
                            <%}%>
                        <%} %> 
                         
                </div>
              
            </section>
            <section class="fundoBranco h-33PerfilDeJogos">
                Avaliações
                
            </section>
        </main>
        <aside class="fundoVerde">
            <%- include('../jogos/menuJogos.ejs') %>
        </aside>
    </container>

    <footer>
        <%- include('../home/footer.ejs') %>
    </footer>
</body>

</html>