<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisar Jogo</title>
    <link rel="stylesheet" href="/css/tema.css">
    <link rel="stylesheet" href="/css/jogos/procurarJogos.css">
</head>

<body>
    <header>
        <%- include('../home/header.ejs') %>
    </header>

    <container class="pai">
        <main class="fundoBranco pai coluna mainProcurarJogos">
            <div class="pai" id="cadastradosProcurarJogos"><a href="/jogos/cadastra"><div id="cadastraProcurarJogos">Cadastrar Jogo</div></a> <div id="jogosEncontrados"></div></div> 
            <div class="pai jogosProcuraJogos" id="exibirJogos">
                                
            </div>
            <div><ul class="pai paginasProcurarJogos" id="paginacaoProcurarJogos">
                <li><a href="#" id="pl">L</a></li>
                <li><a href="#" class="ativo" id="p1">1</a></li>
                <li><a href="#" id="p2">2</a></li>
                <li><a href="#" id="p3">3</a></li>
                <li><a href="#" id="pr">R</a></li>                
            </ul>
        </div>
        </main>
        <aside class="fundoVerde asideProcurarJogos pai coluna">
            <form action="/jogos/pesquisar" method="GET">
            <div id="pesquisar">
                <label for="textPesquisar">Pesquisar</label>
                <p><input type="text" placeholder="Buscar" name="nome" id="textPesquisar"></p>
            </div>
            <div id="plataforma">
                <label for="plataformaId">Plataforma</label>
                <p>
                    <select name="plataforma" id="plataformaId">
                        <option value=""></option>
                        <%for(let plataforma of plataformas){%> <option value="<%=plataforma.nome%>"><%=plataforma.nome%></option> <%}%>                        
                    </select>
                </p>
            </div>            
            <div id="categoria">
                <p><label>Categoria</label></p>
                <%for(let genero of generos){%> <p>
                    <input type="checkbox" id="<%=genero.nome%>Id" name="genero" value="<%=genero.nome%>" />
                    <label for="<%=genero.nome%>Id"><%=genero.nome%></label>
                </p><%}%>                
            </div>
            <input type="submit"  class="submitProcurarJogos" value="Pesquisar">
            </form>
        </aside>
    </container>

    <footer>
        <%- include('../home/footer.ejs') %>
    </footer>
</body>
<script>
    const paginacao = document.querySelector('#paginacaoProcurarJogos')
    const exibirJogos = document.querySelector('#exibirJogos')
    let cont = 1
   
    paginacao.onclick = (e) => {
        e.preventDefault()        
        let valorPagina = e.target.innerText
        if(valorPagina !== 'L' && valorPagina !== 'R' && parseInt(valorPagina) !== cont){
            
            if(valorPagina > cont){
            cont = parseInt(valorPagina)
            selecionarPaginasMaior()
            mudarAtivo()
            carregarJogos()
            return
            }
            cont = parseInt(valorPagina)
            selecionarPaginasMenor()
            mudarAtivo()
            carregarJogos()
        }      
    }
    document.querySelector('#pl').onclick = (e) => {               
        descerPaginas()
        mudarAtivo()
        carregarJogos()
    }   

    document.querySelector('#pr').onclick = (e) => {        
        subirPaginas()
        mudarAtivo()
        carregarJogos()
    }   

    window.onload = carregarJogos()

    /* window.onkeydown = (e) => {
       if(e.key == 'l') {        
        descerPaginas()
        mudarAtivo()
       }
       if(e.key == 'r') {        
        subirPaginas()
        mudarAtivo()
       }
    }*/

    async function carregarJogos(){
        const url = new URL(window.location.href)       
        const resultado = await fetch(`http://localhost:3000/apis/listarjogos${url.search}`)
        const jogos = await resultado.json()
        await console.log(jogos)
        exibirJogos.innerHTML = ""
        for(let i= 15 * (cont - 1); i<jogos.length && i < (cont * 15); i++){
            //console.log(i)
            exibirJogos.innerHTML +=  `<a href="/jogos/perfil/${jogos[i].id}"><img src="${jogos[i].capa}"/><p>${jogos[i].nome}</p></a>`                
        }
        document.querySelector('#jogosEncontrados').innerText = ` Jogos Encontrados: ${jogos.length}`
    }

    function mudarAtivo(){
        document.querySelector('.ativo').classList.remove('ativo')
        document.querySelector(`#p${cont}`).classList.add('ativo')
    }
    function selecionarPaginasMaior(){
        if(cont > 2){
            document.querySelector(`#p${cont}`).innerText =   cont  + 1 
            document.querySelector(`#p${cont}`).id = `p${cont + 1}`; 

            document.querySelector(`#p${cont - 1}`).innerText =   cont
            document.querySelector(`#p${cont - 1}`).id = `p${cont}`;
            
            document.querySelector(`#p${cont - 2}`).innerText =   cont - 1
            document.querySelector(`#p${cont - 2}`).id = `p${cont - 1}`;
    }
    }
    function selecionarPaginasMenor(){ 
        if(cont >= 2){
            document.querySelector(`#p${cont}`).innerText =   cont - 1
            document.querySelector(`#p${cont}`).id = `p${cont - 1}`;

            document.querySelector(`#p${cont + 1}`).innerText =   cont
            document.querySelector(`#p${cont + 1}`).id = `p${cont}`;
            
            document.querySelector(`#p${cont + 2}`).innerText =   cont + 1
            document.querySelector(`#p${cont + 2}`).id = `p${cont + 1}`;  
        }
    }
    function subirPaginas(){
        cont ++
        if(cont >= 3){
            document.querySelector(`#p${cont}`).innerText =   cont + 1
            document.querySelector(`#p${cont}`).id = `p${cont + 1}`;

            document.querySelector(`#p${cont - 1}`).innerText =   cont
            document.querySelector(`#p${cont - 1}`).id = `p${cont}`;

            document.querySelector(`#p${cont - 2}`).innerText =   cont  - 1 
            document.querySelector(`#p${cont - 2}`).id = `p${cont - 1}`;            
        }
    }
    function descerPaginas(){
        cont == 1 ?  "" : cont --
        if(cont > 1){
            document.querySelector(`#p${cont}`).innerText =   cont - 1   
            document.querySelector(`#p${cont}`).id = `p${cont - 1}`;      

            document.querySelector(`#p${cont + 1}`).innerText =   cont
            document.querySelector(`#p${cont + 1}`).id = `p${cont}`;

            document.querySelector(`#p${cont+2}`).innerText =   cont + 1
            document.querySelector(`#p${cont+2}`).id = `p${cont + 1}`;
        }
    }
</script>
</html>