<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tema.css">
    <link rel="stylesheet" href="/css/adm/painelAdmin.css"> 
    <title>Administração</title>
</head>
<body class="fundoCinzaClaro bodyPerfilAdmin pai">    
    
    <div id="conteudoPainelAdmin">
        <header id="headerPainelAdmin">Painel de Administração</header>
        <nav class="navPainelAdm" ><ul class="pai">
        <p>L</p>
        <a href="/gamepadm/painel"><li id="<%if(aba==='user'){%>ativoPainelAdmin<%}%>">Usuários</li></a>
        <a href="/gamepadm/painel/jogo"><li id="<%if(aba==='jogo'){%>ativoPainelAdmin<%}%>">Jogos</li></a>
        <a href="/gamepadm/painel/sistema"><li id="<%if(aba==='sistema'){%>ativoPainelAdmin<%}%>">Sistema</li></a>
        <p>R</p>
        </ul></nav>
        <div class="pai">        
            <aside class="fundoVerde" id="asidePainelAdmin">               
                    <ul class="acessosPainelAdmin">
                        <a href="/gamepadm/painel/<%=aba%>/0"><li><%if(selecionado === '0'){%> <img src="/img/adm/selecionado.png"/><%}%><%=opcoes[0]%></li></a>
                        <a href="/gamepadm/painel/<%=aba%>/1"><li><%if(selecionado === '1'){%> <img src="/img/adm/selecionado.png"/><%}%><%=opcoes[1]%></li></a>
                       <a href="/gamepadm/painel/<%=aba%>/2"><li><%if(selecionado === '2'){%> <img src="/img/adm/selecionado.png"/><%}%><%=opcoes[2]%></li></a>
                        <a href="/gamepadm/painel/<%=aba%>/3"><li><%if(selecionado === '3'){%> <img src="/img/adm/selecionado.png"/><%}%><%=opcoes[3]%></li></a>                        
                    </ul>                     
            </aside>
            <main class="fundoVerde" id="mainPainelAdmin">
                <%if(selecionado!==''){%>
                <%- include('partial/'+aba+selecionado+extra+'.ejs') %>
                <%}%>
                
            </main>
        </div>
    </div>
</body>
</html>