<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/home/section-1.css">
</head>

<body>
    <div class="bloco-geral">
        <section class="bloco-1">
            <div>
                
                <div class="jogosHome caixaUm" id="jogosHome">
                    <% for(let i=0; i<jogos.length && i <=12; i++){ %>
                        <div class="caixaJogos" id="caixaJogos">
                            <a href="/jogos/perfil/<%= jogos[i].id %>">
                                <img class="imgJogos" src="<%= jogos[i].capa %> ">
                            </a>
                            <div class="conteudoJogos">
                                <h1><%= jogos[i].nome %></h1>
                                <p><%= jogos[i].desenvolvedor %></p>
                                <p><%= jogos[i].lancamento %> </p>
                                <div class="span">
                                    <p><%= jogos[i].descricao %></p>
                                </div>
                            </div>
                        </div>

                    <% } %>
                </div>
            </div>
            <div>
                <h3>Jogos em destaque</h3>
                <div class="jogosHome">
                        <% for(let i=0; i<mediasJogos.length; i++){ %>
                        <div class="jogosDestaque">
                            <a href="/jogos/perfil/<%= mediasJogos[i].id %>">
                                <img class="imgJogos" src="<%= mediasJogos[i].capa %> ">
                            </a>
                            </div>
                        <% } %> 
                </div>
            </div>
            <div> 
                <a class="btn-p" href="/jogos/noticias"><h3>Noticias</h3></a>
                <div class="column">
                    <% for(let i=0; i<noticias.length && i <= 3; i++){ %>
                    <div class="noticia">
                        <h4><%= noticias[i].titulo %> </h4>
                        <p><%= noticias[i].descricao %> </p>
                        <button><a class="btn-w" href="/jogos/noticias/<%= noticias[i].id %>">Ver mais</a></button>
                    </div>
                    <% } %>
                </div>
            </div>
        </section>
        <section class="bloco-2">
            <div class="top-10"> 
                <% for(let i=0; i<jogos.length && i <=12; i++){ %>
                    <div class="lista">
                        <a class="link" href="/jogos/perfil/<%= jogos[i].id %> ">
                            <p class="top-num">
                               
                            </p>
                            <p class="listaJogo">
                                <%= jogos[i].nome %>
                            </p>
                        </a>
                    </div>
                    <% } %>
        </section>
    </div>
    <script src="/js/index/home.js"></script>
</body>

</html>