<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/home/section-1.css">
</head>

<body>
    <div class="bloco-geral">
        <section class="bloco-1">
            <div>
                <h3>Jogos em promoção</h3>
                <div class="promocao">
                    <% for(let i=0; i<jogos.length && i <=10; i++){ %>
                        <a href="/jogos/perfil/<%= jogos[i].id %>">
                            <article><img class="img" src="<%= jogos[i].capa %> "></article>
                        </a>
                    <% } %>
                </div>
            </div>
            <div>
                <h3>Jogos em destaque</h3>
                <div class="destaque"> 
                    <a href="">
                        <article><img src=""></article>
                    </a>
                </div>
            </div>
            <div> 
                <a class="btn-p" href="/jogos/noticias"><h3>Noticias</h3></a>
                <div class="column">
                    <% for(let i=0; i<noticias.length && i <= 3; i++){ %>
                    <div class="noticia">
                        <h4><%= noticias[i].titulo %> </h4>
                        <p><%= noticias[i].descricao %> </p>
                        <button><a class="btn-w" href="/jogos/noticias/<%= noticias[i].id %>">Ver mais</a></button>
                    </div>
                    <% } %>
                </div>
            </div>
        </section>
        <section class="bloco-2">
            <div class="top-10"> 
                <h3>Top 10 da semana</h3>
                <ul>
                <% for(let i=0; i<jogos.length && i<=10; i++){ %>
                    <li class="lista">
                        <a class="link" href="/jogos/perfil/<%= jogos[i].id %> ">
                            <p class="top-num">
                                <%= jogos[i].id %>
                            </p>
                            <p>
                                <%= jogos[i].nome %>
                            </p>
                        </a>
                    </li>
                    <% } %>
                </ul>
        </section>
    </div>
</body>

</html>