<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/users/usuario-include.css">

        <title>Usuario</title>

    </head>
    <body>
        <aside class="containerPerfil">
            
            <div class="caixaPerfil marginzero">

                <div class="modalConfig"> 
                      
                    <form class= "confgForm " action="/users" method="POST">
                        
                        <img src="/img/close.png" class= "buttonClose"alt="">
                        <label class="labelConfg" for="urlImg">Link da imagem</label>
                        <input class="inputConfg" type="url" name="urlImg" id="" >
                        

                        <label class="labelConfg" for="usuario">Mudar usuario</label>
                        <input class="inputConfg" type="text" name="usuario" id="" >
                        

                        <label class="labelConfg"for="sobreMim">Sobre Mim</label>
                        <input class="inputConfg" type="text" name="sobreMim" id="">
                        

                        <label class="labelConfg" for="urlInsta">Instagram</label>
                        <input class="inputConfg" type="url" name="urlInsta" id="">

                        <label class="labelConfg" for="urlTwitter">Twitter</label>
                        <input class="inputConfg" type="url" name="urlTwitter" id="">

                        <label  class="labelConfg" for="urlFace">Facebook</label>
                        <input  class="inputConfg" type="url" name="urlFace" id="">
                        <input class="inputEnviar" type="submit" value="enviar">


                    </form>
                </div>
                <img class ="confgFoto" src="/img/engrenagem.png" alt="">

                <div class ="caixaFoto">
                    
                    <img class='imgCaixaFoto' src= "<%= usuario.foto %>" alt=""/>
                    
                </div>

                <div class="caixaNick">

                    <p><%=usuario.User.usuario %></p>

                </div>
                
                <div class="caixaSobre">
                    
                    
                    <p class="pSobre">sobre mim</p>
                    <p><%= usuario.sobre %> </p>

                </div>

                <div class="listaPerfil">
                    
                        <a href='/users/posts'>Post</a>
                        <a href='/users/analise'>Análise</a></a>
                        <a href='/users/midias'>Midias</a>
                        <a href="/users/meusjogos">Jogos</a>
                    
                </div>

                <div class="sociais">

                    <a href="<%= usuario.instagram %>"><img src="/img/instagramIcon.png" alt=""></a>
                    <a href="<%= usuario.twitter %>"><img src="/img/twitterIcon.png" alt=""></a>
                    <a href="<%= usuario.facebook %>"><img src="/img/facebookIcon.png" alt=""></a>
                
                </div>


            </div>

        </aside>

        
        <script src="js/usuario-include.js"></script>
    </body>

</html>